body{
	background: url(assets/wallpapers/zelenaya-zmeya.jpg) no-repeat fixed;
	background-size: cover;
	font-family: 'Tourney', cursive;
	margin: 0;
	padding: 0;
}


/* Header */
header{
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
	background: #b5ff9e;
	border: 4px #6BD152 solid;
	border-radius: 50px;
	align-items: center;
	margin-top: 5px;
}
.header_logo{
	display: flex;
}
.header_logoImg{
	margin-left: 25px;
}
.header_logoText{
	font-size: 64px;
	font-weight: 600;
	color: #6BD152;
	
}
.header_logoText_text{
	margin: 32px 16px;
}


.header_links{
	display: flex;
	flex: row;
	margin-right: 25px;
	font-size: 32px;
	padding-top: 10px;
}
.header_links *{
	margin: 0 16px;
	transition: border-bottom linear  0.2s , color linear  0.2s ;
}
.header_links *:hover{
	cursor: pointer;
	border-bottom: 2px green solid ;
	color: green ;
}

/* Button */

.play_button{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin:0 auto;
	margin-top: 50px;
	background: #B5FF9E;
	border: 10px #6BD152 solid;
	height: 300px;
	width: 300px;
	border-radius: 50%;

}
.play_button_text{
	font-size: 64px;
	transition: font-size linear 0.5s , color linear 0.5s;
}
.play_button:hover .play_button_text{
	font-size: 100px;
	color: green ;
	cursor: pointer;
}